<%- include('../header') %>


    <div class="container text-center">

        <a href="/"> <img src="/images/logo.png" alt="JobiFy - DevPleno" class="logo img-fluid"></a>

    </div>

    <div class="container ">

        <h4 class="titulo text-center">ACESSO NÃO PERMITIDO</h4>

    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('../footer') %>