<%- include('header') %>


    <div class="container text-center">

        <a href="/"><img src="/images/logo.png" alt="JobiFy - DevPleno" width="350px" class="logo"></a>

    </div>

    <div class="container ">


        <h4 class="titulo text-center">We are Jobify - Join US!</h4>

        <div class="container text-center">
            <hr>
            <h4 class="espaco"> <strong> <%- vaga.titulo %> </strong> </h3>
                <br>
                <h5>
                    <%- vaga.descricao %>
                </h5>

                <br>

                <a href="/" class="btn btn-info text-center"> Voltar </a>
        </div>


    </div>

    <%- include('footer') %>